/*landing page and nav bar*/

nav {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin-left: auto;
    align-items: flex-end;
    margin-bottom: 3em;
    margin-top: 3em;
}

nav ul li {
    list-style: none;
    display: inline-block;
    font-size: 30px;
    margin-right: 5rem;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    font-family: 'Pacifico', cursive;
}

h2,
a,
.std-butt,
label {
    font-size: 25px;
    font-family: 'Cabin', sans-serif;
}

.std-butt {
    margin: 15px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: none;
    color: black;
    padding: 20px 50px;
}

a {
    color: black;
    text-decoration: none;
}

.std-butt:hover:not(#details),
button a:hover {
    background-color: black;
    color: white;
}

a:hover {
    color: #8cc63f;
}

img {
    max-width: 80%;
    height: auto;
}

.img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Directions.html stylesheet*/

input {
    font-family: 'Cabin', sans-serif;
    margin: 1em 0;
    border-style: none;
    border-bottom: 2px black solid;
    width: 400px;
}

.thead {
    text-align: center;
    font-weight: bold;
}

.border,
.border td {
    border: 1px solid black;
    padding: 10px;
}

table {
    border-collapse: collapse;
}

.elevation-chart {
    display: flex;
    justify-content: center;
}

#chart,
.img-result {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}


/*History.html stylesheet*/

#table-history,
#table-history td {
    border: none;
}

#table-history tr {
    border-bottom: 2px solid rgb(180, 180, 180);
}

#thead-history {
    border-bottom: 4px solid black;
}

#details {
    border: none;
    background-color: #8cc63f;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
}

td,
tr {
    padding: 5rem;
}